exclude: ^flipper_thrift|flipper_client\.egg_info|build$
repos:
  - repo: https://github.com/ambv/black
    rev: master
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
      - id: flake8
